<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue实例</title>
<style type="text/css">
*{margin:0;padding: 0}
</style>
</head>
<body>
<div id="app">{{message}}</div>
<div id="app-2">
	<span v-bind:title="message">
		停留一会哦,显示span的属性title的内容
	</span>
</div>
<div id="app-3">
	<p v-if="seen">Now you can see it</p>
</div>
<div id="app-4">
	 <ol>
	 	<li v-for="todo in todos">{{todo.text}}</li>
	 </ol>
</div>
<div id="app-5">
	<p>{{message}}</p>
	<button v-on:click="changeMessage">点击变化</button>
</div>
<div id="app-6">
	<h1>{{message}}</h1>
	<input v-model="message" />
</div>
<h1>todo-item</h1>
<ol>
	<todo-item></todo-item>
</ol>
<div id="app-7">
	<ol>
		<todo-item v-for="item in list" v-bind:todo="item"></todo-item>
	</ol>
</div>
<div id="app-8"></div>
<a id="app-9" v-bind:href="url">跳转链接本地文件</a>
<br>
<br>
<br>
<br>
<a id="app-10" v-on:click="dosomething" data-id="10">点击事件</a>
<a id="app-11" v-on:submit.prevent="onSubmit">修饰符</a>
<div v-bind:id="rawId | formatId">过滤器</div>
<div id="app-12">
	<p>{{message}}</p>
	<p>{{ addMessage }}</p>
	<p>{{ addMessage2() }}</p>
</div>


<div id="app-13">
	<p>ask a yes/no question
		<input v-model="question" />
	</p>
	<p>{{answer}}</p>
</div>
<div id="app-15" v-bind:class="{ active : isActive , 'text-danger' : hasText}">
	绑定HTML Class
</div>
<div id="app-16" v-bind:class="classObject">直接绑定数据里的一个对象</div>

<div id="app-17" v-bind:style="styleObject">绑定行内样式</div>

<div id="app-18">
<h1>使用-key-控制元素的可重用</h1>
<template v-if="loginType === 'username'">
	<label>Username</label>
	<input placeholder="enter you username" v-model="inputMsg" key="username-input">
</template>
<template v-else>
	<label>Email</label>
	<input placeholder="enter you email address" v-model="inputMsg" key="email-input">
</template>

<button v-on:click="toggleType">切换登录方式</button>
<button v-on:click="submit">登录</button>

</div>

<div>
	<h1>简单的 todo list 完整的</h1>
	<div id="app-19">
		<input v-model="newTodoText" v-on:keyup.enter="addNewTodo"placeholder="add a todo">
		<ul>
			<li is="todo-item2"	v-for="(todo,index) in todos" v-bind:title="todo" v-on:remove="todos.splice(index,1)"></li>
		</ul>
	</div>
</div>

<div id="app-20">
<h1>显示过滤-排序结果</h1>
<ul>
<li v-for="n in evenNumbers">{{n}}</li>
</ul>
</div>

<div id="app-21">
	<button v-on:click="counter += 1">加1</button>
	<input v-model="counter" />
	<div>{{counter}}</div>
	<button v-on:click=" if(counter > 0) counter -= 1">减1</button>
</div>

<div id="app-22">
<h1>访问原生 DOM 事件</h1>
<button v-on:click="warn('form',$event)">访问原生 DOM 事件</button>
</div>

<div id="app-23">
<h1>局部注册</h1>
<my-component></my-component>
</div>

<div id="app-24">
  <currency-input 
    label="Price" 
    v-model="price"
  ></currency-input>
  <currency-input 
    label="Shipping" 
    v-model="shipping"
  ></currency-input>
  <currency-input 
    label="Handling" 
    v-model="handling"
  ></currency-input>
  <currency-input 
    label="Discount" 
    v-model="discount"
  ></currency-input>
  
  <p>Total: ${{ total }}</p>
</div>


<script type="text/javascript" src="../lib/vue.js"></script>
<script src="../lib/axios.min.js"></script>
<script src="../lib/lodash.core.min.js"></script>
<script src="../lib/currency-validator.js"></script>
<script type="text/javascript">
var app = new Vue({
	el:'#app',
	data:{
		message:'hello vue'
	}
})
var app2 = new Vue({
	el:'#app-2',
	data:{
		message:'显示当前时间 '+ new Date()
	}
})
var app3 = new Vue({
	el:'#app-3',
	data:{
		seen:null
	}
})
var app4 = new Vue({
	el:'#app-4',
	data:{
		todos:[
			{text:'text1'},
			{text:'text2'},
			{text:'text3'},
			{text:'text4'}
		]
	}
})
var app5 = new Vue({
	el:'#app-5',
	data:{
		message:'我的砧板的鱼',
		flag:false
	},
	methods:{
		changeMessage:function(){
			var message = '我的砧板的鱼';
			if(!this.flag){
				this.message = '我已经被分尸的鱼了';
				this.flag = true;
			}else{
				this.message = message;
				this.flag = false;
			}
			
		}
	}
})
var app6 = new Vue({
	el:'#app-6',
	data:{
		message:'我的默认的哦'
	}
})
Vue.component('todo-item', {
	props:['todo'],
	template:'<li>{{todo.text}}</li>'
})
var app7 = new Vue({
	el:'#app-7',
	data:{
		list:[
			{text:'text1'},
			{text:'text2'},
			{text:'text3'},
			{text:'text4'} 
		]
	}
})
//vue 扩展
var MyComponent = Vue.extend({
	//扩展选项
})
var getMyComponent = new MyComponent();

var data = {a:1};
var vm = new Vue({
	el:'#app-8',
	data:data
})
console.log(vm)
console.log(vm.$data === data)
console.log(vm.$el === document.getElementById('app-8'))
vm.$watch('a',function(newVal,oldVal){
	console.log(oldVal)
})
var  vm2 = new Vue({
	data:{
		a:1
	},
	created:function(){ //在vue实例创建后调用，还有其它的 mounted,updated,destroyed钩子，this指向调用它的vue实例
		console.log(this.a)
	}
})

//===插值===
	//1.一次性插入值: <span v-once>{{msg}}</span>
	//2.输出真正的 HTML, 数据绑定会被忽略: <div v-html="rawHtml">{{htmlMsg}}</div>
	//注意：动态渲染html,容易导致xss攻击，不要对用户提供内容插值

var app9 = new Vue({
	el:'#app-9',
	data:{
		url:'demo2.html'
	}
})
var app10 = new Vue({
	el:'#app-10',
	data:{
		dosomething:function(e){
			console.log(e)
			console.log(e.target.dataset.id)
		}
	}
})
var app11 = new Vue({
	el:'#app-11',
	data:{
		onSubmit:function(e){
			console.log(e)
		}
	}
})
new Vue({
	filters:{
		capitalize:function(value){
			console.log(value)
			if(!value) return ''
			value = value.toString()
			return value.charAt(0).toUpperCase() + value.slice(1)
		}
	}
})
	//计算属性
var app12 = new Vue({
	el:'#app-12',
	data:{
		message:'我的原配'
	},
	computed:{ //是基于它的依赖缓存
		addMessage:function(){
			return this.message + '++computed++追加的小三.....' + Date.now()
		}
	},
	methods:{ //重新渲染的时候，method 调用总会执行函数
		addMessage2:function(){
			return this.message + '++menths++我追加的小四.....' + Date.now()
		}
	}
})
	
	//观察 Vue 实例上的数据变动 $watch  跟计算属性对比 是重复的
//观察Watchers --- 要在数据变化响应时，执行异步操作或开销较大的操作
var app13 = new Vue({
	el:'#app-13',
	data:{
		question:'',
		answer:'i cannot get you answer until you ask a question'
	},
	watch:{
		//如果question发生变化就会执行此方法
		question: function (newQuestion) {
	      this.answer = 'Waiting for you to stop typing...'
	      this.getAnswer()
	    }
	},
	mothods:{
		//_.debounce是通过lodash限制频率的函数 参考：https://lodash.com/docs#debounce
		getAnswer:_.debounce(
			function () {
		        var vm = this
		        if (this.question.indexOf('?') === -1) {
		          vm.answer = 'Questions usually contain a question mark. ;-)'
		          return
		        }
		        vm.answer = 'Thinking...'
		        axios.get('https://yesno.wtf/api')
		          .then(function (response) {
		            vm.answer = _.capitalize(response.data.answer)
		          })
		          .catch(function (error) {
		            vm.answer = 'Error! Could not reach the API. ' + error
		          })
		      },
		      // 这是我们为用户停止输入等待的毫秒数
		      500
		)
	}
})

var app15 = new Vue({
	el:'#app-15',
	data:{
		isActive:true,
		hasText:false
	}
})
var app16 = new Vue({
	el:'#app-16',
	data:{
		classObject:{
			active:true,
			'active2':false,
			'active3':true
		}
	}
})
var app17 = new Vue({
	el:'#app-17',
	data:{
		styleObject:{
			color:'red',
			fontSize:'20px',
			transition: 'inherit'
		}
	}
})
function test(value){
	if( value.length == 0 ) return true
}
var app18 = new Vue({
	el:'#app-18',
	data:{
		inputMsg:'',
		loginType:'username',
		flag:true
	},
	methods:{
		toggleType:function(e){
			
			console.log(e)
			if(this.flag){
				this.loginType="emal"
				this.flag = false
			}else{
				this.loginType="username"
				this.flag = true
			}
			this.inputMsg='';
		},
		submit:function(){
			console.log(this.inputMsg)
			 //默认为用户登录
			var bean ={
				type:this.flag ? '0':'1',
				msg:this.inputMsg
			}
			console.log(bean)
			test(this.inputMsg); //执行window的test方法
			
		},
		test:function(value){
			if( value.length == 0 ) return;
		}
	}
})
Vue.component('todo-item2', {
	  template: '\
	    <li>\
	      {{ title }}\
	      <button v-on:click="$emit(\'remove\')">X</button>\
	    </li>\
	  ',
	  props: ['title']
	})
new Vue({
	el:'#app-19',
	data:{
		newTodoText:'',
		todos:[
			'Do the dishes',
			'Take out the trash',
			'Mow the lawn'
		]
	},
	methods:{
		addNewTodo:function(){
			this.todos.push(this.newTodoText)
			this.newTodoText = ''
		}
	}
})
var app20 = new Vue({
	el:'#app-20',
	data:{
		numbers:[1,2,3,4,5,6,7]
	},
	computed:{
		evenNumbers:function(){
			return this.numbers.filter(function(number){
				return number % 2 === 0
			})
		}
	}
})
var app21 = new Vue({
	el:'#app-21',
	data:{
		counter:0
	}
})
var app22 = new Vue({
	el:'#app-22',
	methods:{
		warn:function(message,event){
			console.log(event)
		}
	}
})
var Child ={
	template:'<h3>我的局部注册进来的</h3>'
}

var app23 = new Vue({
	el:'#app-23',
	components:{
		'my-component':Child
	}
})

Vue.component('currency-input', {
	  template: '\
	    <div>\
	      <label v-if="label">{{ label }}</label>\
	      $\
	      <input\
	        ref="input"\
	        v-bind:value="value"\
	        v-on:input="updateValue($event.target.value)"\
	        v-on:focus="selectAll"\
	        v-on:blur="formatValue"\
	      >\
	    </div>\
	  ',
	  props: {
	    value: {
	      type: Number,
	      default: 0
	    },
	    label: {
	      type: String,
	      default: ''
	    }
	  },
	  mounted: function () {
	    this.formatValue()
	  },
	  methods: {
	    updateValue: function (value) {
	      var result = currencyValidator.parse(value, this.value)
	      if (result.warning) {
	        this.$refs.input.value = result.value
	      }
	      this.$emit('input', result.value)
	    },
	    formatValue: function () {
	      this.$refs.input.value = currencyValidator.format(this.value)
	    },
	    selectAll: function (event) {
	      // Workaround for Safari bug
	      // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
	      setTimeout(function () {
	      	event.target.select()
	      }, 0)
	    }
	  }
	})

	new Vue({
	  el: '#app-24',
	  data: {
	    price: 0,
	    shipping: 0,
	    handling: 0,
	    discount: 0
	  },
	  computed: {
	    total: function () {
	      return ((
	        this.price * 100 + 
	        this.shipping * 100 + 
	        this.handling * 100 - 
	        this.discount * 100
	      ) / 100).toFixed(2)
	    }
	  }
	})

</script>
</body>
</html>